.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(24, 22, 22);
  height: 400px;
  margin-top: 80px;
}

.leftFooter {
  width: 50%;
  height: 100%;
  background-color: white;
  color: black;

  cursor: pointer;
}
.rightFooter {
  width: 50%;
  height: 100%;
}
.imgaa {
  width: 100%;
  height: 100%;
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 800px) {
  .footerContainer {
    justify-content: space-between;
  }
}
