.projectsContainer h1 {
  color: goldenrod;
  font-weight: 400;
  font-size: 1.7rem;
}
.projectCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
}
.moreProjectBtn {
  width: 25%;
  height: 50px;
  background-color: #2d2e33;
  color: goldenrod;
  border: 1px solid #2d2e33;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: lighter;
}
@media only screen and (max-width: 1100px) {
  .projectCard {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 600px) {
  .projectCard {
    flex-direction: column;
  }
  .moreProjectBtn {
    width: 50%;
    margin-bottom: 20px;
    height: 40px;
    font-size: 17px;
  }
  .check{
    font-size: 12px !important;
    width: 70%;
    margin: auto;
    font-weight: 300;
    line-height: 1.7;
  }
}
