.project {
  width: 27%;
  height: 60vh;
  background-color: honeydew;
  margin: 40px;
  border-radius: 10px;
  background-color: #0d0e13;
  opacity: 0.7;
}

.projImg {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
.codeBtn {
  width: 30%;
  height: 7vh;
  background-color: #2d2e33;
  color: goldenrod;
  border: 1px solid #2d2e33;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5;
  font-size: 15px;
}
.codeBtn:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 1100px) {
  .project {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .project {
    width: 70%;
    height: 45vh;
  }
  .codeBtn {
    width: 50%;
    height: 30px;
    margin-top: 0px;
  }
  .project h1 {
    font-size: 20px;
  }
}
