.App {
  text-align: center;
  background-color: #141414;
  color: aliceblue;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Roboto Mono", monospace;
}
.qbar {
  bottom: 5%;
  right: 5%;
  position: fixed;
  z-index: 99;
}
